body {
    background-color: #2e294e;
    text-align: center;
    margin: auto;
    color       : black;
    background-image: url("./texture-background.jpg")
}
mark {
    background-color: #fcf7f8;
    border-radius: 5px;
}
.header {
    font-family: 'Gruppo';
    font-size: 30px;
}
svg {
    font-family: 'Gruppo';
    margin: auto;
}
text {
    fill            : black;
    stroke          : #fcf7f8;
    stroke-width    : .1px;
    stroke-linejoin : round;
    animation       : 2s pulsate infinite;
}
div {
    background-color: #2e294e;
}

@keyframes pulsate {
    50%{ stroke-width:5px }
}