body {
    text-align: center;
    margin: auto;
    color: #fcf7f8;
    background-image: url("./img/Background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-;
    background-size: cover;
    font-family: 'Gruppo';
}
mark {
    background-color: black; 
    border-radius: 5px;
    color: #fcf7f8;
}
.header {
    font-size: 30px;
}
a {
  text-decoration: none;
  backdrop-filter: blur(5px);
  border: 2px solid black;
  border-radius: 50%;
  color: #fcf7f8;
  font-weight: 900;
}
#my {
    zoom: 130%;
}