body {
    text-align: center;
    margin: auto;
    color: #fcf7f8;
    background-image: url("./img/Background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-;
    background-size: cover;
    font-family: 'Gruppo';
    font-size: 25px;
    font-size: 1.5vw;
}
mark {
    background-color: #fcf7f8; 
    border-radius: 5px;
    color: black;
}
a {
  text-decoration: none;
  backdrop-filter: blur(5px);
  border: 2px solid purple;
  border-radius: 50%;
  color: #fcf7f8;
  font-weight: 900;
}
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}